<footer class="footer container">
  <div class="d-flex justify-content-between">
    <h2>想看什麼主題由你決定！</h2>
    <div class="">
      <h3>歡迎投稿與我們分享</h3>
      <button class="btn btn-secondary-200 fs-lg-5 text-white btn" type="button">
        馬上訂閱
      </button>
    </div>
  </div>

  <div class="text-center">
    <p><span>©Vivre 2024 All right Reserved</span></p>
  </div>
</footer>