<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
  <title>index</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <main>
      <section class="container my-9">
        <div class="mb-4 rounded-3 position-relative">
          <picture>
            <source media="(min-width: 992px)" srcset="
                https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/banner.png?raw=true
              " />
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/banner-sm.png?raw=true"
              alt="" class="w-100" />
          </picture>
          <div class="container-fluid py-5 position-absolute top-50 text-white translate-middle-y ps-9">
            <h3 class="fs-lg-5 fs-6">獻給新世代的生活風格誌</h3>
            <h2 class="col-md-8 fs-lg-1 fs-3">一起探索生活的無限可能</h2>
            <button class="btn btn-secondary-200 fs-lg-5 text-white btn" type="button">
              馬上訂閱
            </button>
          </div>
        </div>
      </section>

      <section class="container my-10">
        <h2>熱門主題</h2>
        <div class="row row-cols-lg-4 row-cols-md-2 row-cols-1 gy-5">
          <div class="col">
            <div class="theme-card position-relative">
              <h3 class="position-absolute top-50 start-50 text-white fs-5 translate-middle">
                城市漫遊者
              </h3>
              <picture>
                <source media="(min-width: 992px)" srcset="
                    https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/theme-1.png?raw=true
                  " />
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/theme-1-sm.png?raw=true"
                  alt="" class="w-100" />
              </picture>
            </div>
          </div>
          <div class="col">
            <div class="theme-card position-relative">
              <h3 class="position-absolute top-50 start-50 text-white fs-5 translate-middle">
                秘境尋蹤人
              </h3>
              <picture>
                <source media="(min-width: 992px)" srcset="
                    https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/theme-3.png?raw=true
                  " />
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/theme-3-sm.png?raw=true"
                  alt="" class="w-100" />
              </picture>
            </div>
          </div>
          <div class="col">
            <div class="theme-card position-relative">
              <h3 class="position-absolute top-50 start-50 text-white fs-5 translate-middle">
                品味設計師
              </h3>
              <picture>
                <source media="(min-width: 992px)" srcset="
                    https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/theme-5.png?raw=true
                  " />
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/theme-5-sm.png?raw=true"
                  alt="" class="w-100" />
              </picture>
            </div>
          </div>
          <div class="col">
            <div class="theme-card position-relative">
              <h3 class="position-absolute top-50 start-50 text-white fs-5 translate-middle">
                美食探險記
              </h3>
              <picture>
                <source media="(min-width: 992px)" srcset="
                    https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/theme-8.png?raw=true
                  " />
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/theme-8-sm.png?raw=true"
                  alt="" class="w-100" />
              </picture>
            </div>
          </div>
          <div class="col">
            <div class="theme-card position-relative">
              <h3 class="position-absolute top-50 start-50 text-white fs-5 translate-middle">
                美學建築誌
              </h3>
              <picture>
                <source media="(min-width: 992px)" srcset="
                    https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/theme-2.png?raw=true
                  " />
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/theme-2-sm.png?raw=true"
                  alt="" class="w-100" />
              </picture>
            </div>
          </div>
          <div class="col">
            <div class="theme-card position-relative">
              <h3 class="position-absolute top-50 start-50 text-white fs-5 translate-middle">
                慢活生活行
              </h3>
              <picture>
                <source media="(min-width: 992px)" srcset="
                    https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/theme-4.png?raw=true
                  " />
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/theme-4-sm.png?raw=true"
                  alt="" class="w-100" />
              </picture>
            </div>
          </div>
          <div class="col">
            <div class="theme-card position-relative">
              <h3 class="position-absolute top-50 start-50 text-white fs-5 translate-middle">
                工藝匠心賞
              </h3>
              <picture>
                <source media="(min-width: 992px)" srcset="
                    https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/theme-6.png?raw=true
                  " />
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/theme-6-sm.png?raw=true"
                  alt="" class="w-100" />
              </picture>
            </div>
          </div>
          <div class="col">
            <div class="theme-card position-relative">
              <h3 class="position-absolute top-50 start-50 text-white fs-5 translate-middle">
                時尚先鋒派
              </h3>
              <picture>
                <source media="(min-width: 992px)" srcset="
                    https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/theme-7.png?raw=true
                  " />
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/theme-7-sm.png?raw=true"
                  alt="" class="w-100" />
              </picture>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-primary-200 my-6">
        <div class="container position-relative py-lg-10">
          <div class="hito-content text-center mx-auto w-50">
            <h3 class="fs-lg-3 mb-2">\ 母親節強檔活動 /</h3>
            <h2 class="fs-lg-2 mb-2">家庭訂閱方案限時 7 折</h2>
            <ul class="w-50 mx-auto text-start">
              <li class="list-unstyled mb-2 d-flex">
                <i class="bi bi-check"></i>
                <p class="ms-2">每月最新文章無限閱讀</p>
              </li>
              <li class="list-unstyled mb-2 d-flex">
                <i class="bi bi-check"></i>
                <p class="ms-2">專屬會員限定內容</p>
              </li>
              <li class="list-unstyled mb-2 d-flex">
                <i class="bi bi-check"></i>
                <p class="ms-2">定期電子報</p>
              </li>
              <li class="list-unstyled mb-2 d-flex">
                <i class="bi bi-check"></i>
                <p class="ms-2">年度精選禮物</p>
              </li>
              <li class="list-unstyled mb-2 d-flex">
                <i class="bi bi-check"></i>
                <p class="ms-2">24/7優先客戶服務</p>
              </li>
              <li class="list-unstyled mb-6 d-flex">
                <i class="bi bi-check"></i>
                <p class="ms-2">為每個成員量身打造專屬行程</p>
              </li>
            </ul>
            <button class="btn btn-secondary-200 fs-lg-5 text-white py-2 px-4" type="button">
              我想了解
            </button>
          </div>
        </div>
      </section>

      <section class="container">
        <h2 class="mb-4">大家都在看</h2>
        <div class="row mb-4">
          <div class="col-md-3">
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active py-3 mb-4" id="list-home-list" data-bs-toggle="list"
                href="#" role="tab" aria-controls="list-home">酒精路跑地圖</a>
              <a class="list-group-item list-group-item-action py-3 mb-4" id="list-profile-list" data-bs-toggle="list" href="#"
                role="tab" aria-controls="list-profile">台北拉麵圖鑑</a>
              <a class="list-group-item list-group-item-action py-3 mb-4" id="list-messages-list" data-bs-toggle="list" href="#"
                role="tab" aria-controls="list-messages">海島自由行</a>
              <a class="list-group-item list-group-item-action py-3 mb-4" id="list-settings-list" data-bs-toggle="list" href="#"
                role="tab" aria-controls="list-settings">短天數出國推薦</a>
              <a class="list-group-item list-group-item-action py-3 mb-4" id="list-settings-list" data-bs-toggle="list" href="#"
                role="tab" aria-controls="list-settings">週末露營趣</a>
            </div>
          </div>
          <div class="col-md-9">
            <div class="px-6">
              <h3 class="mb-4 text-secondary-200">酒精路跑地圖</h3>
              <ul class="list-unstyled">
                <li class="list-unstyled mb-2">
                  ｜城市酒吧人氣榜,盤點當紅熱門酒吧
                </li>
                <li class="list-unstyled mb-2">
                  ｜你要的調酒師在這裡！五月全台酒吧客座活動整理
                </li>
                <li class="list-unstyled mb-6">
                  ｜台南老宅手工酒藏,尋味百年人文釀意
                </li>
              </ul>
              <div class="row g-0 mb-6">
                <div class="col-md-3">
                  <img
                    class="rounded-start-5"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/hots-1.png?raw=true"
                    alt="" />
                </div>
                <div class="col-md-3">
                  <img
                    class="rounded"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/hots-2.png?raw=true"
                    alt="" />
                </div>
                <div class="col-md-3">
                  <img
                    class="rounded"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/hots-3.png?raw=true"
                    alt="" />
                </div>
                <div class="col-md-3">
                  <img
                    class="rounded-end-5"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/hots-4.png?raw=true"
                    alt="" />
                </div>
              </div>

              <div class="d-flex justify-content-between">
                <ul class="d-flex list-unstyled">
                  <li class="list-unstyled bg-primary-300 p-1 rounded"><a href="#">#夜貓行程</a></li>
                  <li class="list-unstyled bg-primary-300 mx-4 p-1 rounded"><a href="#">#barhopping</a></li>
                  <li class="list-unstyled bg-primary-300 p-1 rounded"><a href="#">#全台酒吧</a></li>
                </ul>
                <a class="text-secondary-200" href="#">View More <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="container">
        <h2>品味生活</h2>
        <div class="row">
          <div class="col-4">
            <div class="">
              <p>食.</p>
              <picture>
                <source media="(min-width: 992px)" srcset="
                    https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/life-1.png?raw=true
                  " />
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/life-1-sm.png?raw=true"
                  alt="" class="w-100" />
              </picture>
              <ul class="list-unstyled">
                <li class="list-unstyled">｜城市酒吧人氣榜,盤點當紅熱門酒吧</li>
                <li class="list-unstyled">
                  ｜你要的調酒師在這裡！五月全台酒吧客座活動整理
                </li>
                <li class="list-unstyled">
                  ｜台南老宅手工酒藏,尋味百年人文釀意
                </li>
              </ul>
              <div class="">
                <a href="#">View More </a>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="">
              <p>食.</p>
              <picture>
                <source media="(min-width: 992px)" srcset="
                    https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/life-2.png?raw=true
                  " />
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/life-2-sm.png?raw=true"
                  alt="" class="w-100" />
              </picture>
              <ul class="list-unstyled">
                <li class="list-unstyled">
                  ｜解構教主級時裝設計大師的獨特美學
                </li>
                <li class="list-unstyled">｜當代攝影師鏡頭中的光影離奇</li>
                <li class="list-unstyled">｜帶你穿縮中世紀，夏季文藝復興展</li>
              </ul>
              <div class="">
                <a href="#">View More </a>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="">
              <p>食.</p>
              <picture>
                <source media="(min-width: 992px)" srcset="
                    https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/life-3.png?raw=true
                  " />
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/life-3-sm.png?raw=true"
                  alt="" class="w-100" />
              </picture>
              <ul class="list-unstyled">
                <li class="list-unstyled">｜遠離喧囂,偶探巴塔哥尼亞終界</li>
                <li class="list-unstyled">｜東京深度六區,帶你細品極簡魅力</li>
                <li class="list-unstyled">｜專賣奇珍異寶的東歐地下夜市</li>
              </ul>
              <div class="">
                <a href="#">View More </a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-primary-200">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h3>今天又不知道要去哪裡了嗎？</h3>
              <h2>Vivre 給你意想不到的生活風格提案</h2>
              <button class="btn btn-secondary-200 fs-lg-5 text-white btn" type="button">
                馬上訂閱
              </button>
            </div>

            <div class="col-lg-6">
              <ul class="row list-unstyled">
                <li class="col-lg-6 mt-lg-10">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/projects-1.png?raw=true"
                    alt="" />
                </li>
                <li class="col-lg-6">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/projects-2.png?raw=true"
                    alt="" />
                </li>
                <li class="col-lg-6 mt-lg-10">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/projects-3.png?raw=true"
                    alt="" />
                </li>
                <li class="col-lg-6">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/projects-4.png?raw=true"
                    alt="" />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>